
// ! ========PRIZES (beginning)========
.prizes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calcFluidSizeWidth(70, 174, 360, 1440);
  // gap: 20px;
  row-gap: 50px;
  column-gap: calcFluidSizeWidth(-105, 105, 360, 1440);
  column-gap: 10px;

  #prize__arrow {
    width: calcFluidSizeWidth(100, 197, 360, 1440);
  }

  .medal {
    flex: 0 0 calcFluidSizeWidth(154, 280, 360, 1440);

    border: 1.8px solid #050505;
    border-radius: 50%;
    height: calcFluidSizeWidth(154, 280, 360, 1440);
    text-align: center;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .place {
      font-family: 'Gilroy';
      font-weight: 600;
      font-size: calcFluidSizeWidth(20, 35, 360, 1440);
      line-height: 100%;
      margin-bottom: calcFluidSizeWidth(0, 16, 360, 1440);
    }

    .prize__description {
      font-family: 'Gilroy';
      font-weight: 400;
      font-size: calcFluidSizeWidth(14, 25, 360, 1440);
      line-height: 114%;
    }
  }

  #prizes__image {
    width: calcFluidSizeWidth(320, 482, 360, 1440);
    border-radius: 150px 16px 16px 150px;
    object-fit: cover;
    background: $secondary-gradient;
  }
}

@media (max-width: 950px) {
  .prizes {
    flex-direction: column;

    .prizes__title {
      align-self: flex-start;
    }

    .medal {
      flex: 0 0 calcFluidSizeWidth(154, 280, 360, 1440);
      width: calcFluidSizeWidth(154, 280, 360, 1440);
    }
  }
}

// ! ========PRIZES (ending)========